<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CustomStoreSorts</key>
	<array>
		<array>
			<dict>
				<key>Name</key>
				<string>川菜</string>
				<key>ID</key>
				<string>55</string>
				<key>PID</key>
				<string>6</string>
				<key>Icon</key>
				<string>HP_Sichuan</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>火锅</string>
				<key>ID</key>
				<string>58</string>
				<key>PID</key>
				<string>6</string>
				<key>Icon</key>
				<string>HP_Hotpot</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>烧烤</string>
				<key>ID</key>
				<string>59</string>
				<key>PID</key>
				<string>6</string>
				<key>Icon</key>
				<string>HP_Barbecue</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>海鲜</string>
				<key>ID</key>
				<string>60</string>
				<key>PID</key>
				<string>6</string>
				<key>Icon</key>
				<string>HP_Seafood</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>特色小吃</string>
				<key>ID</key>
				<string>61</string>
				<key>PID</key>
				<string>6</string>
				<key>Icon</key>
				<string>HP_Snacks</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>面包甜点</string>
				<key>ID</key>
				<string>66</string>
				<key>PID</key>
				<string>6</string>
				<key>Icon</key>
				<string>HP_Bread</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Name</key>
				<string>咖啡厅</string>
				<key>ID</key>
				<string>68</string>
				<key>PID</key>
				<string>5</string>
				<key>Icon</key>
				<string>HP_Coffee</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>酒吧</string>
				<key>ID</key>
				<string>69</string>
				<key>PID</key>
				<string>5</string>
				<key>Icon</key>
				<string>HP_Bar</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>茶馆</string>
				<key>ID</key>
				<string>70</string>
				<key>PID</key>
				<string>5</string>
				<key>Icon</key>
				<string>HP_Tea</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>KTV</string>
				<key>ID</key>
				<string>71</string>
				<key>PID</key>
				<string>5</string>
				<key>Icon</key>
				<string>HP_KTV</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>电影院</string>
				<key>ID</key>
				<string>72</string>
				<key>PID</key>
				<string>5</string>
				<key>Icon</key>
				<string>HP_Film</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>桌面游戏</string>
				<key>ID</key>
				<string>80</string>
				<key>PID</key>
				<string>5</string>
				<key>Icon</key>
				<string>HP_Game</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Name</key>
				<string>宠物</string>
				<key>ID</key>
				<string>12</string>
				<key>PID</key>
				<string>8</string>
				<key>Icon</key>
				<string>HP_Pet</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>家政</string>
				<key>ID</key>
				<string>15</string>
				<key>PID</key>
				<string>8</string>
				<key>Icon</key>
				<string>HP_Domestic</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>医院</string>
				<key>ID</key>
				<string>16</string>
				<key>PID</key>
				<string>8</string>
				<key>Icon</key>
				<string>HP_Hospital</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>银行</string>
				<key>ID</key>
				<string>18</string>
				<key>PID</key>
				<string>8</string>
				<key>Icon</key>
				<string>HP_Bank</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>汽车服务</string>
				<key>ID</key>
				<string>22</string>
				<key>PID</key>
				<string>8</string>
				<key>Icon</key>
				<string>HP_Car</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>健身中心</string>
				<key>ID</key>
				<string>42</string>
				<key>PID</key>
				<string>7</string>
				<key>Icon</key>
				<string>HP_Exercise</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>游泳馆</string>
				<key>ID</key>
				<string>43</string>
				<key>PID</key>
				<string>7</string>
				<key>Icon</key>
				<string>HP_Swim</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>药店</string>
				<key>ID</key>
				<string>93</string>
				<key>PID</key>
				<string>9</string>
				<key>Icon</key>
				<string>HP_Pharmacy</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>超市便利店</string>
				<key>ID</key>
				<string>94</string>
				<key>PID</key>
				<string>9</string>
				<key>Icon</key>
				<string>HP_Supermarket</string>
			</dict>
		</array>
	</array>
	<key>LocateStoreSorts</key>
	<array/>
</dict>
</plist>
