<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreateDate</key>
	<string></string>
	<key>AdvClicks</key>
	<array>
		<dict>
			<key>clickCount</key>
			<integer>0</integer>
			<key>advId</key>
			<string></string>
		</dict>
	</array>
	<key>lunchCount</key>
	<integer>0</integer>
</dict>
</plist>
